@using FEP.Model.eLearning

@model FEP.WebApiModel.eLearning.CreateOrEditContentModel


<div class="form-group">
    <h3>@Model.Title</h3>

    @Html.Raw(Model.Description)

    <hr />
    @Html.Raw(Model.Text)

</div>
