@model FEP.WebApiModel.MediaInterview.ListMediaInterviewRequestApi

@{
    ViewBag.Title = "Media Interview";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Event Management</a></li>
                                <li class="breadcrumb-item"><a href="#">Manage Media Interview</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Media Interview List</h1>
                    <div class="header-text">List of created media interview</div>
                </div>
            </div>
        </div>
    </div>

}

@Html.Partial("_MediaInterviewList")

@section Contentscript{
    <script type="text/javascript">
        $(document).ready(function () {
            initTable();
        });
    </script>
}