@model CreateRoleModel

@{
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAdd" }))
{
    @Html.AntiForgeryToken()
    <div class="row divTd">
        <div class="col-1 text-center"></div>
        <div class="col px-0">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="col-3 pl-0 text-right">
            <div class="icon-action">
                <button type="submit" class="btn btn-secondary btn-sm mw-auto mr-2">Add</button>
                <button type="button" onclick="clearForm()" class="btn btn-default btn-sm mw-auto">Cancel</button>
            </div>
        </div>
    </div>
}
