<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <connectionStrings>
	  <!--server-->
    <!--<add name="conStr" connectionString="Data Source=192.168.0.120;Initial Catalog=FEP;User ID=fep;Password=@Bcd1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="conStr" connectionString="Data Source=TAJUL-PC;Initial Catalog=FEP_1;User ID=fep2;Password=@Bcd1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="conStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FEP;User ID=sa;Password=abc123" providerName="System.Data.SqlClient"/>-->
    <add name="conStr" connectionString="Data Source=.;Initial Catalog=FEP;User ID=sa;Password=hisystem" providerName="System.Data.SqlClient" />
	  <!--<add name="conStr" connectionString="Data Source=localhost;Initial Catalog=FEP;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
  	<!--<add name="conStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FEP;User ID=fep;Password=qwe123" providerName="System.Data.SqlClient" />--><!--wawar-->
    <!--<add name="conStr" connectionString="Data Source=10.250.1.133;Initial Catalog=FEP14;User ID=fep;Password=@Bcd1234" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
