@model List<NotificationModel>

<button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown" data-dropdown-disable-document-scroll data-caret="false">
    <span class="icon-top"><i class="la la-bell-o"></i></span>
    <span class="badge badge-notifications @if (Model.Count > 0) { <text>point</text> } "> </span>
</button>
<div class="dropdown-menu dropdown-menu-right">
    <div data-perfect-scrollbar class="position-relative">

        <div class="dropdown-header">
            <strong>Notifications</strong>
            <a class="float-right" href="javascript:void(0);" onclick="clearNotification()" data-toggle="tooltip" title="Mark Read All"><i class="material-icons font-size-20pt text-muted">check_box</i></a>
            <a class="float-right" href="@Url.Action("List", "Notification", new { area = "" })" data-toggle="tooltip" title="View All"><i class="material-icons font-size-20pt text-muted">list</i></a>
        </div>
        <div class="list-group list-group-flush mb-0">

            @if (Model.Count == 0)
            {
                <a class="list-group-item list-group-item-action">
                    <span class="d-flex align-items-center">
                        <small class="text-muted">Empty</small>
                    </span>
                </a>
            }

            @foreach (var notification in Model)
            {
                <a href="@notification.Link" class="list-group-item list-group-item-action">
                    <span class="d-flex align-items-center mb-1">
                        <small class="text-muted">@notification.CreatedDate</small>
                    </span>
                    <span class="d-flex">
                        <span class="avatar avatar-xs mr-2">
                            <span class="avatar-title rounded-circle bg-light">
                                @if (notification.Category == NotificationCategory.System)
                                {
                                    <i class="material-icons font-size-16pt text-danger">settings</i>
                                }
                                else if (notification.Category == NotificationCategory.Event)
                                {
                                    <i class="material-icons font-size-16pt text-danger">event</i>
                                }
                                else if (notification.Category == NotificationCategory.ResearchAndPublication)
                                {
                                    <i class="material-icons font-size-16pt text-danger">accourate_reviewnt_circle</i>
                                }
                                else if (notification.Category == NotificationCategory.Learning)
                                {
                                    <i class="material-icons font-size-16pt text-danger">school</i>
                                }

                            </span>
                        </span>
                        <span class="flex d-flex flex-column">
                            <span class="text-black-70">@notification.Message</span>
                        </span>
                    </span>
                </a>
            }

        </div>
    </div>
</div>
