
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "User";
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                                <li class="breadcrumb-item"><a href="#">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">User List</h1>
                    <div class="header-text">List of registered user</div>
                </div>
            </div>
        </div>
    </div>

}

<div class="d-flex align-items-center">
    <div class="filter">
        <button class="btn btn-default btn-rounded color-grey font-weight-normal"><i class="la la-sliders font-icon color-secondary"></i>Filters</button>
    </div>
    <div class="divider-vertical">&nbsp;</div>
    <!-- Search -->
    <div class="input-keyword col-lg-5 col-sm-12 mr-auto px-0">
        <input type="text" class="form-control form-control-rounded" placeholder="Search" name="keyword">
        <div class="input-group-append">
            <button class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
        </div>
    </div>
    <div class="sorting-wrap">
        <div class="sorting-dropdown">
            <select class="select2 form-control small" name="sorting">
                <option value="Default Sorting">Default Sorting</option>
                <option value="sorting 1">Sorting 1</option>
                <option value="sorting 2">Sorting 2</option>
            </select>
        </div>
    </div>
</div>
<hr>
<div class="table-responsive" data-toggle="lists">
    <div class="d-flex pb-4 align-items-center">
        <div>
            <!-- Select option -->
            <span class="select-arrow">
                <select name="dataTable_length" aria-controls="dataTable" class="custom-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>
        <div class="showing-result px-3 py-2 mr-auto">Showing 1 - 6 of 2000 attendees</div>
        <div><a href="#" class="btn btn-secondary"><i class="la la-search font-icon" style="font-size: 1.5rem;"></i>Scan Attendee</a></div>
    </div>
    <!-- Table -->
    <table class="table tableStyle1">
        <thead>
            <tr>
                <th>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input js-toggle-check-all" data-target="#table01" id="customCheckAll">
                        <label class="custom-control-label" for="customCheckAll">
                            <span class="text-hide">Toggle all</span>
                        </label>
                    </div>
                </th>
                <th>ID</th>
                <th>Attendee Name</th>
                <th>Type</th>
                <th>Company Name</th>
                <th>Booking Number</th>
                <th>MyKad Number</th>
                <th>Check-in Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="list" id="table01">
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>1</td>
                <td>Nurul Husna Che Mat</td>
                <td>Individual</td>
                <td>N/A</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-green font-weight-bold">Checked-in</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1_2" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1_2">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>2</td>
                <td>Nurul Husna Che Mat</td>
                <td>Individual</td>
                <td>N/A</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-green font-weight-bold">Checked-in</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1_3" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1_3">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>3</td>
                <td>Mohd Hasbullah Awang</td>
                <td>Agency</td>
                <td>Primus Core Sdn Bhd</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-grey font-weight-bold">Not Yet</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1_4" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1_4">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>4</td>
                <td>Hasanah Hassan</td>
                <td>Agency</td>
                <td>Primus Core Sdn Bhd</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-grey font-weight-bold">Not Yet</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1_4" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1_4">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>5</td>
                <td>Hasanah Hassan</td>
                <td>Agency</td>
                <td>Primus Core Sdn Bhd</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-grey font-weight-bold">Not Yet</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck1_4" type="checkbox" class="custom-control-input js-check-selected-row">
                        <label class="custom-control-label" for="customCheck1_4">
                            <span class="text-hide">Check</span>
                        </label>
                    </div>
                </td>
                <td>6</td>
                <td>Hassan Abdullah</td>
                <td>Agency</td>
                <td>Primus Core Sdn Bhd</td>
                <td>#01234567</td>
                <td>811211-08-5444</td>
                <td><span class="color-grey font-weight-bold">Not Yet</span></td>
                <td>
                    <div class="icon-action">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>