
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "User";
}

@section ContentScript{

    <script type="text/javascript">

     

    </script>

}


@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Settings</a></li>
                                <li class="breadcrumb-item"><a href="#">User Management</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">User Type</h1>
                    <div class="header-text">Select User Types</div>
                </div>
            </div>
        </div>
    </div>

}

<div class="row">
   
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <!-- Start Tab Content -->
        <div class="border-form rounded-top">
            <div class="tab-content">
                <div class="tab-pane active" id="step1">
                    <form>
                        <div class="form-container form-container-w100">

                            <div class="form-container form-container-w100 tab-content">

                                <div class="tab-pane active mxw-660" id="setting1">

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Individual</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "Individual", new { area = "Administrator" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Agency</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "Company", new { area = "Administrator" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Staff</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "Staff", new { area = "Administrator" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- End Form -->

                </div>
            </div>
        </div>
    </div>
</div>
