
@{
    ViewBag.Title = "Research & Publication Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<h1 class="h2">Research & Publication</h1>

<div class="card">
    <div class="card-header">
        <div class="media align-items-center">
            <div class="media-body">
                <h4 class="card-title">Main Menu</h4>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-fit mb-0" style="z-index: initial;">

        <li class="list-group-item" style="z-index: initial;">
            <div class="d-flex align-items-center">
                <a href="fixed-student-take-course.html" class="avatar avatar-4by3 avatar-sm mr-3">
                    <img src="assets/images/gulp.png" alt="course" class="avatar-img rounded">
                </a>
                <div class="flex">
                    <a href="fixed-student-take-course.html" class="text-body"><strong>Research</strong></a>
                </div>
                <div class="media-right">
                    <a class="btn btn-sm btn-primary" href="Research">Research</a>
                </div>
            </div>
        </li>

        <li class="list-group-item" style="z-index: initial;">
            <div class="d-flex align-items-center">
                <a href="fixed-student-take-course.html" class="avatar avatar-4by3 avatar-sm mr-3">
                    <img src="assets/images/vuewjs.png" alt="course" class="avatar-img rounded">
                </a>
                <div class="flex">
                    <a href="fixed-student-take-course.html" class="text-body"><strong>Publication</strong></a>
                </div>
                <div class="media-right">
                    <a class="btn btn-sm btn-primary" href="Publication">Publication</a>
                </div>
            </div>
        </li>

    </ul>
</div>

