@*@model List<ListGroupMemberModel>*@

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    //bool editEnable = CurrentUser.HasAccess(UserAccess.CourseGroupEdit);
    //var toDisplay = Model;
    //if (!editEnable)
    //{
    //    if (toDisplay.Count > 0)
    //    {
    //        //toDisplay = toDisplay.Where(m => m.isOwner || m.isMember).ToList();
    //    }
    //}
}
<style>
    .talk-bubble {
        margin: 40px;
        display: inline-block;
        position: relative;
        width: 770px;
        height: auto;
        background-color: lightblue;
    }

    .border {
        border: 8px solid lightblue;
    }

    .round {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
    }

    .tri-right.border.left-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -40px;
        right: auto;
        top: 30px;
        bottom: auto;
        border: 20px solid;
        border-color: lightblue lightblue transparent transparent;
    }

    .tri-right.left-in:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -20px;
        right: auto;
        top: 38px;
        bottom: auto;
        border: 12px solid;
        border-color: lightblue lightblue transparent transparent;
    }

    /* talk bubble contents */
    .talktext {
        padding: 1em;
        text-align: left;
        line-height: 1.5em;
    }

        .talktext p {
            /* remove webkit p margins */
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
        }
</style>
<div class="border-form rounded-top">
    @if (!String.IsNullOrEmpty(CurrentUser.Avatar))
    {
        <img src="@BaseURL/img/avatar/@CurrentUser.Avatar" alt="Avatar" class="rounded-cir rounded-color" width="55">
        // <img src="@BaseURL/img/avatar/@CurrentUser.Avatar" alt="Avatar" class="rounded-circle rounded-color" width="40">
    }
    else
    {
        <img src="@BaseURL/img/no-photo.jpg" alt="Avatar" class="rounded-circle rounded-color" width="40">
    }

    <div class="talk-bubble  border round tri-right left-in">
        <div class="talktext">
            <div class="widget-subtitle">Ingin bertanya? Sila tinggalkan pertanyaan anda di sini (Jika ada)</div>
            <div class="form-container">
                <div class="form-group">
                    <div class="">
                        <textarea class="summernote form-control editor" id="FeedBackCloud">
                        </textarea>
                    </div>

                </div>
                <div class="buttons"><button type="button" class="btn btn-success">Submit Feedback</button></div>
            </div>
        </div>
    </div>
</div>
<div class="border-form rounded-top">
    <div class="row" data-toggle="dragula">
        <div class="col-sm-6 col-md-4">
            <div class="card card-sm">
                <div class="position-relative">
                    <div class="card-img-top">
                        <img src="assets/images/stories/256_rsz_phil-hearing-769014-unsplash.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body avatar-group position-absolute-top">
                        <div class="avatar avatar-xs">
                            <a href="">
                                @if (!String.IsNullOrEmpty(CurrentUser.Avatar))
                                {
                                    <img src="@BaseURL/img/avatar/@CurrentUser.Avatar" alt="Avatar" class="rounded-circle rounded-color" width="40">
                                    // <img src="@BaseURL/img/avatar/@CurrentUser.Avatar" alt="Avatar" class="rounded-circle rounded-color" width="40">
                                }
                                else
                                {
                                    <img src="@BaseURL/img/no-photo.jpg" alt="Avatar" class="card-img-top" width="40">
                                }
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="flex">
                        <small class="text-muted">November 10, 2018</small>
                        <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Camera</a></h5>
                    </div>
                    <a href="" class="text-muted"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card card-sm">
                <div class="position-relative">
                    <div class="card-img-top">
                        <img src="assets/images/stories/256_rsz_thomas-russell-751613-unsplash.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body avatar-group position-absolute-top">
                        <div class="avatar avatar-xs">
                            <a href=""><img src="assets/images/256_rsz_sharina-mae-agellon-377466-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="flex">
                        <small class="text-muted">November 11, 2018</small>
                        <h5 class="card-title m-0"><a href="">Selective Focus Photography With iPhone</a></h5>
                    </div>
                    <a href="" class="text-muted"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card card-sm">
                <div class="position-relative">
                    <div class="card-img-top">
                        <img src="assets/images/stories/256_rsz_ross-sneddon-798476-unsplash.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body avatar-group position-absolute-top">
                        <div class="avatar avatar-xs">
                            <a href=""><img src="assets/images/256_rsz_florian-perennes-594195-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="flex">
                        <small class="text-muted">November 13, 2018</small>
                        <h5 class="card-title m-0"><a href="">Learn Amazing Macro Photography</a></h5>
                    </div>
                    <a href="" class="text-muted"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card card-sm">
                <div class="position-relative">
                    <div class="card-img-top">
                        <img src="assets/images/stories/256_rsz_ross-sneddon-798476-unsplash.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body avatar-group position-absolute-top">
                        <div class="avatar avatar-xs">
                            <a href=""><img src="assets/images/256_rsz_florian-perennes-594195-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="flex">
                        <small class="text-muted">November 13, 2018</small>
                        <h5 class="card-title m-0"><a href="">Learn Amazing Macro Photography</a></h5>
                    </div>
                    <a href="" class="text-muted"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card card-sm">
                <div class="position-relative">
                    <div class="card-img-top">
                        <img src="assets/images/stories/256_rsz_ross-sneddon-798476-unsplash.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body avatar-group position-absolute-top">
                        <div class="avatar avatar-xs">
                            <a href=""><img src="assets/images/256_rsz_florian-perennes-594195-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="flex">
                        <small class="text-muted">November 13, 2018</small>
                        <h5 class="card-title m-0"><a href="">Learn Amazing Macro Photography</a></h5>
                    </div>
                    <a href="" class="text-muted"><i class="material-icons">more_vert</i></a>
                </div>
            </div>
        </div>

    </div>

</div>
@section ContentScript {
    <link href="~/Scripts/summernote/summernote-lite.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote-lite.min.js"></script>
    <script src="~/js/elearn.js"></script>

    <script>
                var uploadImgUrl = '@(BaseURL)/eLearning/File/UploadFile';
        var getImgUrl = '@(BaseURL)/eLearning/File/GetImg/?fileName=';

        $(document).ready(function () {
            $('#FeedBackCloud').summernote({
                placeholder: 'Type your text here.',
                tabsize: 2,
                height: 200,
                width: 710,
                toolbar: [
                    //[groupName, [list of button]],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture']],

                ],
                codeviewFilter: false,
                codeviewIframeFilter: true,
                callbacks: {
                    onFocus: function () {
                        currentElement = "body";
                    },
                    onImageUpload: function (files, editor, $editable) {
                        uploadFile(uploadImgUrl, files[0], function (message) {

                            var remoteUrl = getImgUrl + message.FileNameOnStorage;

                            $('#FeedBackCloud').summernote('insertImage', remoteUrl, message.FileName);

                        });
                    }
                }
            });
        });
    </script>
}
