
@*<a class="dropdown-item" href="~/RnP/Publication"><i class="la la-book color-secondary font-icon"></i>Manage Publication</a>
<a class="dropdown-item" href="~/RnP/Survey"><i class="la la-search color-secondary font-icon"></i>Manage Survey</a>
<a class="dropdown-item" href="~/RnP/Home/BrowsePublications"><i class="la la-search color-secondary font-icon"></i>Browse Publications</a>
<a class="dropdown-item" href="~/RnP/Home/BrowseSurveys"><i class="la la-search color-secondary font-icon"></i>Browse Surveys</a>
<a class="dropdown-item" href="~/RnP/Publication/RefundRequest"><i class="la la-search color-secondary font-icon"></i>Manage Refunds</a>*@

<div class="row">
    <div class="col-lg-6">
        <div class="menu-list">
            <h6 class="color-darkblue">Menu</h6>
            <a class="dropdown-item" href="@Url.Action("Index", "Survey", new { area = "RnP" })">Manage Survey</a>
            <a class="dropdown-item" href="@Url.Action("BrowseSurveys", "Home", new { area = "RnP" })">Browse Surveys</a>
            @*<a class="dropdown-item" href="@Url.Action("List", "Survey", new { area = "RnP" })">Survey Results</a>*@
        </div>
    </div>
    <div class="col-lg-6">
        <div class="menu-list">
            <h6 class="color-darkblue">Setting</h6>
            <a class="dropdown-item" href="#">Survey Category</a>
        </div>
    </div>
</div>