
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@section ContentScript {
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script type="text/javascript">
        //$('#Language').select2();
        $(document).ready(function () {
            $('#LanguageSelectable').select2();
        });
    </script>
    -->
}
