
<div class="row">
    <div class="col-lg-6">
        <div class="menu-list">
            <h6 class="color-darkblue">Menu</h6>
            <a class="dropdown-item" href="@Url.Action("Index", "Manage", new { area = "KMC" } )">Manage KMC</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="menu-list">
            <h6 class="color-darkblue">Setting</h6>
            <a class="dropdown-item" href="@Url.Action("List", "Category", new { area = "KMC" } )">KMC Category</a>
        </div>
    </div>
</div>
