
<div class="row">
    @if (CurrentUser.HasAccess(UserAccess.KMCBrowse) || CurrentUser.HasAccess(UserAccess.KMCManage))
    {
        <div class="col-lg-6">
            <div class="menu-list">
                <h6 class="color-darkblue">Menu</h6>
                @if (CurrentUser.HasAccess(UserAccess.KMCManage))
                {
                    <a class="dropdown-item" href="@Url.Action("Index", "Manage", new { area = "KMC" })">Manage KMC</a>
                }

                <a class="dropdown-item" href="@Url.Action("Browse", "Home", new { area = "KMC" })">Browse</a>
            </div>
        </div>
    }

    @if (CurrentUser.HasAccess(UserAccess.KMCCategory))
    {
        <div class="col-lg-6">
            <div class="menu-list">
                <h6 class="color-darkblue">Setting</h6>
                <a class="dropdown-item" href="@Url.Action("List", "Category", new { area = "KMC" })">KMC Category</a>
            </div>
        </div>
    }
</div>
