/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

[dir="ltr"] body {
    background: #fff;
    color: #333;
    font-family: 'Inter var', sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
}

[dir=ltr] .container-fluid {
    padding-right: 1.25rem;
    padding-left: 1.25rem
}

.wow {
    visibility: hidden;
}

.rounded {
    border-radius: .5rem !important;
}

[dir="ltr"] .box-shadow {
    -webkit-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    -moz-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
}

[dir="ltr"] .wrapper-menu {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 330ms ease-out;
    margin-top: 0.5em;
}

[dir="ltr"] .wrapper-menu.open {
    transform: rotate(-45deg);
    width: 25px;
    height: 25px;
}

[dir="ltr"] .line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 2px;
}

[dir="ltr"] .line-menu.half {
    width: 70%;
    background: #29ccdb;
}

[dir="ltr"] .line-menu.short {
    width: 30%;
}

[dir="ltr"] .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

/*.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}*/

[dir="ltr"] .open .line-menu.short {
    width: 50%;
}

[dir="ltr"] .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

[dir="ltr"] .open .line-menu.half {
    background: #fff;
    width: 50%;
}

[dir="ltr"] .open .line-menu.end {
    transform: rotate(-90deg) translateX(-6px);
}

[dir="ltr"] .no-border {
    border: 0 !important;
}

[dir="ltr"] .header-col-left {
    max-width: 800px;
}

[dir="ltr"] .header-text {
    color: #fff;
}

.divider-vertical {
    width: 1px;
    margin: 0 1rem;
    background: #c0ccdb;
    opacity: .8;
    flex-direction: column;
    min-height: 46px;
}

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
[dir="ltr"] h1 {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3rem;
}

[dir="ltr"] h2 {
    font-size: 1.875rem;
    font-weight: 700;
}

[dir="ltr"] h3 {
    font-size: 1.625rem;
    font-weight: 700;
}

[dir="ltr"] h4 {
    font-size: 1.375rem;
    font-weight: 700;
}

[dir="ltr"] h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

[dir="ltr"] h6 {
    font-size: 0.875rem;
    font-weight: 700;
}

[dir="ltr"] h1,
[dir="ltr"] h2,
[dir="ltr"] h3,
[dir="ltr"] h4,
[dir="ltr"] h5,
[dir="ltr"] h6 {
    font-family: 'Inter var', sans-serif;
    margin-bottom: 1rem;
}

[dir="ltr"] a {
    transition: 0.5s;
    color: #04ace7;
}

[dir="ltr"] a:hover,
[dir="ltr"] a:active,
[dir="ltr"] a:focus {
    outline: none;
    text-decoration: none;
    color: #0067e0;
}

[dir="ltr"] a:hover {
    color: #04ace7;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
[dir="ltr"] p {
    font-size: 1rem;
    line-height: 1.625rem;
}

[dir="ltr"] .lead {
    font-size: 1.125rem;
}

[dir="ltr"] .small {
    font-size: 0.875rem;
}

[dir="ltr"] .x-small {
    font-size: 0.825rem !important;
}

/*--------------------------------------------------------------
# Color Guide
--------------------------------------------------------------*/
[dir="ltr"] .color-primary {
    color: #29ccdb;
}

[dir="ltr"] .color-secondary {
    color: #04ace7;
}

[dir="ltr"] .color-darkblue {
    color: #13335b;
}

[dir="ltr"] .color-lightgrey {
    color: #cdd4db;
}

[dir="ltr"] .color-green {
    color: #19d277;
}

[dir="ltr"] .color-grey {
    color: #666;
}

[dir="ltr"] .bg-main {
    background-color: #f1f6fb;
}

[dir="ltr"] .bg-gradient {
    background: linear-gradient(180deg, #330C69 0%, #319BB4 100%), #3D1099;
}

[dir="ltr"] .text-color-body {
    color: #333;
}

/*--------------------------------------------------------------
# Font Icon
--------------------------------------------------------------*/
.la-book {
    font-size: 1.25rem;
}

.la-graduation-cap {
    font-size: 1.3125rem;
}

.la-star {
    font-size: 0.875rem;
    color: #ffb51b;
}

.la-trophy {
    font-size: 1.25rem;
    vertical-align: top;
    color: #fff;
}

.la-list-ul {
    font-size: 1.25rem;
}

.la-calendar {
    font-size: 1.25rem;
}

.la-map-marker {
    font-size: 1.25rem;
}

.la-play-circle {
    font-size: 2rem;
}

.fa-chair {
    font-size: 0.875rem;
}

.fa-chevron-down {
    color: #0e98e0;
}

.fa-twitter {
    color: #65bbf2;
}

.fa-envelope {
    color: #d32e2a;
}

.la-shopping-cart {
    font-size: 1.9375rem;
}

.la-heart-o {
    font-size: 1.5625rem;
}

.la-inbox {
    font-size: 1.75rem;
}

.la-bell-o {
    font-size: 1.75rem;
}

.la-certificate {
    font-size: 1.3125rem;
}

.la-spinner {
    font-size: 1.3125rem;
}

.la-group {
    font-size: 1.25rem;
}

.la-sitemap {
    font-size: 1.3125rem;
}

.la-suitcase {
    font-size: 1.1875rem;
}

.la-pie-chart {
    font-size: 1.25rem;
}

.la-file-o {
    font-size: 1.1875rem;
}

.la-life-saver {
    font-size: 1.3125rem;
}

.la-edit {
    font-size: 1.3125rem;
}

.la-sign-out {
    font-size: 1.3125rem;
}

.la-search {
    font-size: 1.25rem;
}

.la-user {
    font-size: 1.25rem;
}

.la-comments-o {
    font-size: 1.3125rem;
}

.la-eye {
    font-size: 1.3125rem;
}

.la-trash-o {
    font-size: 1.3125rem;
}

.la-calendar {
    font-size: 1.4375rem;
}

.la-plus {
    font-size: .9rem;
}

.la-times {
    font-size: .875rem;
}

.la-sliders {
    font-size: 1.125rem;
}

.la-cog {
    font-size: 1.3125rem !important;
}

.la-list-alt {
    font-size: 1.25rem;
}

.mediasocial .fa-facebook-f,
.mediasocial .fa-twitter,
.mediasocial .fa-linkedin-in {
    color: #13335b;
}

.btn-info:hover .la-long-arrow-right {
    transform: translateX(8px);
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -o-transform: translateX(8px);
    -ms-transform: translateX(8px);
}

.la-long-arrow-right {
    padding: 0;
    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 0.5em;
}

.la-long-arrow-left {
    padding: 0;
    position: relative;
    top: 2px;
    display: inline-block;
}

.la-long-arrow-right,
.la-long-arrow-left {
    font-size: 1.5em;
    transform: translateX(1);
    -webkit-transform: translateX(1);
    -moz-transform: translateX(1);
    -o-transform: translateX(1);
    -ms-transform: translateX(1);
    transition: transform 0.5s ease;
}

.icon-top {
    color: #9986a6;
}

.font-icon {
    margin-right: .3rem;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
[dir="ltr"] .btn {
    font-size: 0.875rem;
    font-weight: 700;
    min-width: 130px;
    padding: .7rem 2rem;
}

[dir="ltr"] .btn:focus,
[dir="ltr"] .btn:active {
    box-shadow: none;
    outline: 0;
}

[dir=ltr] .btn:not(:disabled):not(.disabled).active,
[dir=ltr] .btn:not(:disabled):not(.disabled):active {
    box-shadow: none;
}

[dir=ltr] .btn-default:not(:disabled):not(.disabled).active:focus,
[dir=ltr] .btn-default:not(:disabled):not(.disabled):active:focus,
[dir=ltr] .btn-white:not(:disabled):not(.disabled).active:focus,
[dir=ltr] .btn-white:not(:disabled):not(.disabled):active:focus,
[dir=ltr] .show>.btn-white.dropdown-toggle:focus,
[dir=ltr] .show>.dropdown-toggle.btn-default:focus {
    box-shadow: none;
}

[dir="ltr"] .btn-rounded {
    border-radius: 2rem;
}

[dir="ltr"] .btn-default {
    background: #fff;
    box-shadow: none;
    border: 1px solid #c0ccdb;
}

[dir="ltr"] .btn-primary {
    background: #29ccdb;
    border-color: #29ccdb;
}

[dir="ltr"] .btn-secondary {
    background: #04ace7;
    border-color: #04ace7;
}

[dir="ltr"] .btn-linear {
    background: linear-gradient(90deg, #0063E1 0%, #00ACEE 100%), #c4c4c4;
    color: #fff;
}

[dir="ltr"] .btn-info {
    background: linear-gradient(90deg, #0063E1 0%, #00ACEE 100%), #c4c4c4;
    border-color: #00ACEE;
    position: relative;
    z-index: 1;
}

/***** Transition Gradient *****/
[dir="ltr"] .btn-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #04ace7 0%, #00ACEE 100%), #c4c4c4;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: -1;
    border-radius: 2em;
}

/***** Transition Gradient *****/
[dir="ltr"] .btn-info:hover::before {
    opacity: 1;
}

[dir="ltr"] .btn-info:hover {
    border-color: #04ace7;
}

[dir="ltr"] .btn-circle {
    border-radius: 2rem !important;
    padding: .9rem 1.3rem !important;
    background: linear-gradient(90deg, #0063E1 0%, #00ACEE 100%), #c4c4c4;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #fff;
    position: relative;
    width: auto;
    height: auto;
}

[dir="ltr"] .btn-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #04ace7 0%, #00ACEE 100%), #c4c4c4;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: -1;
    border-radius: 2rem;
}

[dir="ltr"] .btn-circle:hover::before {
    opacity: 1;
}

[dir="ltr"] .btn-default:hover,
[dir="ltr"] .btn-default:active {
    background: #fff;
    color: #13335b;
    border-color: #04ace7
}

[dir="ltr"] .btn-primary:hover,
[dir="ltr"] .btn-primary:active {
    background: #03bebe;
    border-color: #03bebe;
}

[dir="ltr"] .btn-secondary:hover,
[dir="ltr"] .btn-secondary:active {
    background: #0095ea;
    border-color: #0095ea;
}

[dir="ltr"] .btn-linear:hover {
    color: #fff;
}

[dir="ltr"] .btn-circle:hover {
    background: linear-gradient(90deg, #04ace7 0%, #00ACEE 100%), #c4c4c4;
    background: linear-gradient(90deg, #0063E1 0%, #00ACEE 100%), #c4c4c4;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

[dir="ltr"] .btn-outline-primary {
    border-color: #29ccdb;
    color: #29ccdb;
}

[dir="ltr"] .btn-outline-secondary {
    border-color: #04ace7;
    color: #04ace7;
}

[dir="ltr"] .btn-outline-primary:hover,
[dir="ltr"] .btn-outline-primary:active {
    background: #29ccdb;
    border-color: #29ccdb;
    color: #fff;
}

[dir="ltr"] .btn-outline-secondary:hover,
[dir="ltr"] .btn-outline-secondary:active {
    background: #04ace7;
    border-color: #04ace7;
    color: #fff;
}

[dir="ltr"] .input-group-append .btn {
    min-width: auto;
}

[dir="ltr"] .btn-lg,
[dir="ltr"] .btn-sm {
    padding: .5rem 1rem;
}

[dir="ltr"] .btn-sm {
    font-size: .8203125rem !important;
}


/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/
.empty_2 {
    height: 2rem;
}

.empty_3 {
    height: 3rem;
}

.empty_4 {
    height: 4rem;
}

.empty_5 {
    height: 5rem;
}

.empty_6 {
    height: 6rem;
}

[dir="ltr"] .mw-auto {
    min-width: auto;
}

[dir="ltr"] .mxh-auto {
    max-height: none !important;
    ;
}

[dir="ltr"] .mw-600 {
    min-width: 600px;
}

.col-pr {
    padding-right: 4rem;
}

[dir="ltr"] .divider-border {
    border-bottom: 1px solid #e8e8e8;
}

[dir="ltr"] hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.noborder {
    border: 0 !important;
}

.pt-6 {
    padding-top: 4rem !important;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
[dir="ltr"] .form-control {
    color: #333;
    border: 1px solid #c0ccdb;
    font-size: 0.875rem;
    box-shadow: none;
}

[dir="ltr"] .dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    border: 0;
    margin-left: 1em;
    vertical-align: top;
    color: #0e98e0;
    font-weight: bold;
}

[dir="ltr"] .form-control::placeholder {
    color: #a7b8cb;
    opacity: 1;
}

[dir="ltr"] .append-radius {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

[dir="ltr"] .selectdiv {
    position: relative;
}

[dir="ltr"] .selectdiv select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    padding-right: 30px !important;
    background-image: none;
}

[dir="ltr"] .selectdiv:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    border: 0;
    vertical-align: top;
    color: #0e98e0;
    font-weight: bold;
    right: 10px;
    position: absolute;
    top: 7px;
}

[dir="ltr"] .custom-control {
    min-height: 2rem;
    font-size: 0.875rem;
}

[dir="ltr"] .custom-control-label:before {
    background-color: #fff;
    border: 1px solid #d6dde5;
}

[dir="ltr"] .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #04ace7;
    background-color: #04ace7;
}

[dir="ltr"] .form-label {
    font-size: 0.875rem;
    text-transform: none;
    color: #13335b;
}

[dir="ltr"] .select-arrow {
    position: relative;
    display: inline-block;
    width: 100%;
}

[dir="ltr"] .custom-select {
    border: 1px solid #c0ccdb;
    background-image: none;
    box-shadow: none;
    font-size: .875rem;
}

[dir="ltr"] .select-arrow:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 900;
    color: #0e98e0;
    position: absolute;
    z-index: 2;
    right: 1.5rem;
    top: 50%;
    margin-top: -8px;
    height: 0;
    width: 0;
    pointer-events: none;
    font-size: 12px;
}

[dir="ltr"] .custom-select:focus {
    background-image: none;
    background-repeat: no-repeat;
    border-color: #9acffa;
    outline: 0;
    box-shadow: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

[dir="ltr"] .input-keyword {
    display: flex;
    position: relative;
}

[dir="ltr"] .input-keyword .form-control {
    width: 100%;
    padding-right: 4rem;
    padding-left: 1rem;
    height: 45px;
}

[dir="ltr"] .input-keyword .form-control:focus {
    background: #f1f6fb;
}

[dir="ltr"] .input-keyword .input-group-append {
    position: absolute;
    right: 0;
}

/** customize for sorting dropdown filter ***/
.sorting-dropdown .select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 2rem;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid #c0ccdb;
}

.sorting-dropdown .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px;
}

.sorting-dropdown .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.sorting-dropdown .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 2rem;
}

.sorting-dropdown .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.sorting-dropdown .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-radius: 2rem;
}

.sorting-wrap {
    float: right;
    display: flex;
}

[dir="ltr"] .border-form {
    border: 1px solid #d6dde5;
}

[dir="ltr"] .form-container {
    padding: 1rem;
    max-width: 550px;
    width: 100%;
}

[dir="ltr"] .form-container-w100 {
    max-width: none !important;
}

[dir="ltr"] .form-container label {
    font-size: .875rem;
    color: #13335b;
    font-weight: 500;
}

[dir="ltr"] .divTable {
    background: #f1f6fa;
    padding: .5rem .5rem;
    border-radius: .25rem;
}

[dir="ltr"] .lineItem div {
    margin-bottom: .5rem;
}

[dir="ltr"] .divTable .btn {
    font-size: .75rem !important;
    padding: .5rem 1rem;
}

[dir="ltr"] .form-container .font-icon {
    margin-right: .2rem;
}

[dir="ltr"] .custom-file-label {
    box-shadow: none;
    border: 1px solid #c0ccdb;
    color: #495057 !important;
    font-weight: normal !important;
}

[dir="ltr"] .custom-file-label::after {
    background: #f1f6fa;
}

[dir="ltr"] .border-left {
    border-left: 1px solid #d6dde5 !important;
}

[dir="ltr"] .border-right {
    border-right: 1px solid #d6dde5 !important;
}

[dir="ltr"] .border-bottom {
    border-bottom: 1px solid #d6dde5 !important;
}

[dir="ltr"] .border-top {
    border-top: 1px solid #d6dde5 !important;
}

[dir="ltr"] .deleteItem {
    position: absolute;
    right: .5rem;
    top: 0;
    padding: .5rem .6rem;
    z-index: 2;
}

[dir="ltr"] .list-file-container #fileList {
    background: #f1f6fa;
    padding: .5rem .5rem;
    margin: .5rem 0;
    border-radius: .25rem;
}

[dir="ltr"] .list-file-container.readonly #fileList {
    background: #fafcfd;
    margin: 0;
}

[dir="ltr"] #fileList ul {
    margin-bottom: 0;
}

[dir="ltr"] #fileList li {
    list-style: none;
    font-size: .75rem;
    font-weight: 600;
}

[dir="ltr"] .form-control:disabled,
[dir="ltr"] .form-control[readonly] {
    background-color: #fafcfd;
    border: 1px solid #e3eaef;
    color: #768396;
}

[dir="ltr"] textarea[readonly]::placeholder {
    color: #768396;
}

[dir="ltr"] .login-wrapper .input-group>.custom-select:not(:last-child),
[dir="ltr"] .login-wrapper .input-group>.form-control:not(:last-child) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    width: 100%;
}

[dir="ltr"] .field-validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: #f44336;
}

[dir="ltr"] .input-validation-error {
    border-color: #f44336;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.bg-main .card__wrapper {
    border: solid 1px rgba(232, 232, 232, 0.54);
}

.card-slider .card__wrapper {
    margin: .5rem .7rem;
}

[dir="ltr"] .card__wrapper {
    border: 1px solid #d6dde5;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    background: #fff;
    overflow: hidden;
    webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

[dir="ltr"] .card__wrapper:hover {
    transform: translateY(-5px) translateZ(0);
    box-shadow: 0px 0px 20px rgba(171, 190, 209, 0.2);
    border: 1px solid #d6dde5;
}

[dir="ltr"] .card__wrapper:hover .card__top:before,
[dir="ltr"] .publications__wrapper:hover .card__top:before {
    content: "";
    background: rgba(19, 30, 28, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

[dir="ltr"] .card__top {
    position: relative;
}

[dir="ltr"] .card__top__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

[dir="ltr"] .card__title {
    color: #13335b;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 3rem;
}

[dir="ltr"] .card__body {
    padding: 1.3rem 1rem 1.7rem;
    position: relative;
}

[dir="ltr"] .card__text {
    font-size: 0.875rem;
    padding-bottom: 2.5rem;
    line-height: 1.375rem;
}

[dir="ltr"] .card__avatar {
    display: inline-block;
    width: 38px;
    height: 38px;
    overflow: hidden;
}

[dir="ltr"] .card__avatar__image {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

[dir="ltr"] .card__name-wrap,
[dir="ltr"] .card__avatar {
    display: inline-block;
    vertical-align: top;
}

[dir="ltr"] .card__name-wrap {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    font-size: 0.875rem;
}

[dir="ltr"] .card__instructby {
    display: block;
    color: #b1b1b1;
}

[dir="ltr"] .card__author {
    padding: 1rem 0 1.5rem 0;
    line-height: 1rem;
}

[dir="ltr"] .card__author-name {
    color: #13335b;
    font-weight: 700;
    line-height: 1.5rem;
}

[dir="ltr"] .card__info {
    display: flex;
    font-size: 0.8125rem;
    color: #13335b;
    position: absolute;
    margin-top: 1rem;
    bottom: 0;
    width: 100%;
    padding: 0 1rem;
    margin: 1rem 0;
    left: 0;
    cursor: pointer;
}

[dir="ltr"] #eevents .card__info,
[dir="ltr"] .eevents .card__info {
    position: relative;
    margin: 0;
    padding: 0;
}

[dir="ltr"] .some-list .card__wrapper {
    margin-bottom: 1.25rem;
}

[dir="ltr"] .card__col-left {
    width: 100%;
    display: flex;
    vertical-align: middle;
}

[dir="ltr"] .card__col-right {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-weight: 700;
}

[dir="ltr"] .col-left__item {
    display: inline-block;
    margin-right: .9rem;
    color: #13335b;
    font-weight: 700;
}

[dir="ltr"] .card__top__wapper {
    position: relative;
}

[dir="ltr"] .card__top .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(4, 172, 231, 0.8);
    color: #fff;
    padding: .5rem;
    margin: .5rem;
    font-size: 0.875rem;
}

/*.publications .card__top__wapper {
    height: 340px;
    background: #000;
}*/

[dir="ltr"] .publications__wrapper {
    border-radius: .5rem;
    border: 1px solid #d6dde5;
    overflow: hidden;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.03);
    webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

[dir="ltr"] .publications__wrapper:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0px 0px 20px rgba(171, 190, 209, 0.2);
}

[dir="ltr"] .publications__wrapper .card__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

[dir="ltr"] .publications_col_left {
    display: table-cell;
    width: 48%;
    vertical-align: top;
    background: #000;
}

[dir="ltr"] .publications_col_right {
    display: table-cell;
    width: 52%;
    vertical-align: top;
}

[dir="ltr"] .publications__wrapper .card__text {
    min-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
}

[dir="ltr"] .card__info ul {
    padding: 0;
    list-style: none;
    line-height: 1.8em;
}

[dir="ltr"] .card__icon {
    vertical-align: top;
    padding-right: .2rem;
    color: #04ace7;
    display: inline-block;
}

[dir="ltr"] .card__info .status {
    font-weight: 700;
}

[dir="ltr"] .navbar-shadow {
    -webkit-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    -moz-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
}

[dir=ltr] .card {
    box-shadow: none;
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid #d6dde5;
}

[dir=ltr] .card-header {
    border-bottom: 1px solid #d6dde5;
}

[dir="ltr"] .card-footer {
    padding: 1.5rem 1.25rem;
    border-top: 1px solid #d6dde5;
}


/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
[dir="ltr"] .slick-arrow {
    background: transparent;
    border: 0;
    font-size: 0;
    cursor: pointer;
    outline: 0 !important;
    line-height: .5rem;
}

[dir="ltr"] .slick-next:before {
    content: "\f105";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    color: #a6acb8;
    font-size: 2rem;
    font-weight: 900;
}

[dir="ltr"] .slick-prev:before {
    content: "\f104";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    color: #a6acb8;
    font-size: 2rem;
    font-weight: 900;
}

/*--------------------------------------------------------------
# Instructor
--------------------------------------------------------------*/
.instructor-wrapper {
    position: relative;
}

.element_instructor {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

.element_instructor:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.6) 99%, rgba(0, 0, 0, 0.6) 100%);
    width: 100%;
    height: 100%;
}

.instructor-container {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.element_column,
.element_column_back {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.element_column_back {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    -moz-box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    box-shadow: 0px 0px 27px rgba(171, 190, 209, 0.4);
    border-radius: .5rem;
    overflow: hidden;
}

.instructor-container:hover .element_column {
    webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.instructor-container:hover .element_column_back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.element_instructor img {
    max-width: 100%;
    height: auto;
}

.instructor-team-details {
    position: absolute;
    bottom: 0;
    margin: 20px 15px;
    color: #fff;
}

.instructor-team-name {
    font-weight: 700;
}

.instructor-team-job {
    font-size: 0.875rem;
}

.instructor-wrapper .mediasocial {
    position: absolute;
    bottom: 0;
    padding-bottom: 1.5rem;
}

.mediasocial a:hover i {
    color: #04ace7;
}

[dir="ltr"] a:hover .la-long-arrow-right {
    transform: translateX(8px);
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -o-transform: translateX(8px);
    -ms-transform: translateX(8px);
}

[dir="ltr"] a:hover .la-long-arrow-left {
    transform: translateX(-8px);
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
}

.more-link a {
    font-size: 0.75rem;
    font-weight: 700;
}

/*--------------------------------------------------------------
# Select2
--------------------------------------------------------------*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    font-family: "Font Awesome\ 5 Free";
    content: "\f078";
    border: 0;
    vertical-align: top;
    color: #0e98e0;
    font-weight: bold;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    height: 100%;
    border: 1px solid #c0ccdb;
    padding: .375rem .75rem;
    font-size: 0.875rem;
}

.select2-container--default .select2-selection--single:focus {
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + 0.9375rem + 2px)-0.1rem;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #04ace7;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #212539;
    font-weight: normal;
}

.select2-container {
    min-width: 200px;
}

.select2-results__option {
    font-size: 0.875rem;
    padding: 8px 10px;
}

.select2-dropdown {
    border-color: rgba(232, 232, 232, 0.54);
    box-shadow: 0 0 8px 2px rgba(28, 39, 60, 0.04);
    padding: 5px;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid;
    border-color: rgba(232, 232, 232, 0.54);
}

.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid;
    border-color: rgba(232, 232, 232, 0.54);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: .25rem .75rem;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #c0ccdb;
    font-size: .875rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: .875rem;
    background-color: #0095ea;
    border: 1px solid #0095ea;
    color: #fff;
    margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #9acffa;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #fafcfd;
    border: 1px solid #e3eaef;
}

/*--------------------------------------------------------------
# Flatpickr
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pick a date
--------------------------------------------------------------*/
.pick-date {
    margin: 0 1rem;
    position: relative;
    max-width: 200px;
}

.pick-date .form-control {
    padding: 1.375rem 1rem;
    font-size: 0.875rem;
}

.pick-date .form-control:disabled,
.pick-date .form-control[readonly] {
    background: #fff;
}

.pick-date .form-control::placeholder {
    color: #333;

}

.pick-date .form-control:focus,
.pick-date .form-control.active {
    background: linear-gradient(90deg, #0063E1 0%, #00ACEE 100%), #c4c4c4;
    border-color: #00ACEE;
    color: #fff;
    box-shadow: none;
}

.pick-date .form-control:focus::placeholder,
.pick-date .form-control.active::placeholder {
    color: #fff;
}

.pick-date a.input-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .8rem 1rem;
}

.pick-date a.input-button.clear {
    opacity: 0;
}

.pick-date .form-control:focus~a.input-button.clear,
.pick-date .flatpickr-input.active~a.input-button.clear {
    opacity: 1;
    color: #fff;
}

.pick-date .form-control:focus~a.input-button.arrowdown,
.pick-date .flatpickr-input.active~a.input-button.arrowdown {
    opacity: 0;
}

.dateSelect {
    position: relative;
}

.dateSelect a.input-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .5rem;
    color: #13335b;
}

.dateSelect a.input-button.clear {
    opacity: 0;
}

.dateSelect .form-control:focus~a.input-button.clear,
.dateSelect .flatpickr-input.active~a.input-button.clear {
    opacity: 1;
    color: #13335b;
}

.dateSelect .form-control:focus~a.input-button.calendar,
.dateSelect .flatpickr-input.active~a.input-button.calendar {
    opacity: 0;
}

[dir=ltr] .flatpickr-calendar {
    border: 1px solid;
    border-color: rgba(232, 232, 232, 0.54);
    box-shadow: 0 0 8px 2px rgba(28, 39, 60, 0.04);
}

[dir=ltr] .flatpickr-current-month {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

[dir=ltr] .flatpickr-innerContainer {
    margin: 1rem;
}

[dir=ltr] .flatpickr-months {
    margin: 1rem;
}

[dir="ltr"] .flatpickr-current-month span.cur-month:hover {
    background: transparent;
}

[dir="ltr"] .numInputWrapper span:hover {
    background: transparent;
}

[dir="ltr"] .numInputWrapper:hover {
    background: transparent;
}

[dir=ltr] .flatpickr-months .flatpickr-next-month,
[dir=ltr] .flatpickr-months .flatpickr-prev-month {
    height: 36px;
    padding: .5rem 1rem;
    background: #f0f0f0;
    margin: 1rem;
    border-radius: .25rem;
}

[dir=ltr] .flatpickr-calendar {
    width: 21.5rem;
}

[dir="ltr"] .flatpickr-day.inRange,
[dir="ltr"] .flatpickr-day.nextMonthDay.inRange,
[dir="ltr"] .flatpickr-day.nextMonthDay.today.inRange,
[dir="ltr"] .flatpickr-day.prevMonthDay.inRange,
[dir="ltr"] .flatpickr-day.prevMonthDay.today.inRange,
[dir="ltr"] .flatpickr-day.today.inRange {
    background: #2196f3;
    border-color: #2196f3;
    box-shadow: -6px 0 0 #2196f3, 6px 0 0 #2196f3;
    color: #fff;
}

[dir=ltr] .flatpickr-input[readonly] {
    background-color: #fff;
}

/*--------------------------------------------------------------
# Nested Element
--------------------------------------------------------------*/
ul.akpk-ul {
    list-style: none;
    padding-left: 1rem;
}

ul.akpk-ul li {
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1rem;
}

ul.akpk-ul li:before {
    background-color: #04ace7;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    min-width: 7px;
    min-height: 7px;
    max-width: 7px;
    max-height: 7px;
    margin-right: 10px;
    margin-top: 7px;
    border-radius: 50%;
}

ol.akpk-ol {
    list-style: none;
    counter-reset: li;
    padding-left: 1rem;
}

ol.akpk-ol li {
    counter-increment: li;
}

ol.akpk-ol li::before {
    content: counter(li);
    color: #04ace7;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}


/*--------------------------------------------------------------
# content with column left and right
--------------------------------------------------------------*/
.right-group .card__title {
    min-height: 0;
}


/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/
[dir=ltr] #breadcrumb {
    display: inline-block;
    background: rgba(19, 30, 28, 0.5);
    padding: 0.2rem 0;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

[dir=ltr] .breadcrumb {
    border-radius: 0;
    background-color: transparent;
    padding: 0 0 0 .6rem;
    font-size: 0.6875rem;
    margin: 0;
    text-transform: none;
}

[dir=ltr] .breadcrumb-item+.breadcrumb-item::before {
    content: '\f054';
    text-align: center;
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    color: #04ace7;
    font-weight: 900;
    font-size: 7px;
}

[dir=ltr] .breadcrumb-item a {
    color: #fff;
}

[dir=ltr] .breadcrumb-item.active {
    color: #fff;
}

/*--------------------------------------------------------------
# Notifications
--------------------------------------------------------------*/
[dir="ltr"] .point {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #ef5350;
    position: absolute;
    right: 0px;
    top: .7rem;
    padding: 0;
}

[dir="ltr"] .dropdown-notifications .badge-notifications {
    left: -.8rem;
    top: -.5rem;
}

/*--------------------------------------------------------------
# Dropdown menu
--------------------------------------------------------------*/
[dir="ltr"] .dropdown-menu {
    border-color: #d6dde5;
    padding: 1rem;
    margin-top: 14.5px;
    box-shadow: 0px 0px 8px rgba(171, 190, 209, 0.2);
    ;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    max-height: none !important;
    min-width: 13rem;
}

[dir="ltr"] .dropdown-item {
    font-size: .75rem;
    padding: 0;
    display: flex;
    align-items: center;
    color: #1b2e4b;
}

[dir="ltr"] .dropdown-item:hover {
    color: #0067e0;
}

[dir="ltr"] .dropdown-item.active,
[dir="ltr"] .dropdown-item:active {
    color: #0067e0;
}

[dir="ltr"] .dropdown-item .font-icon {
    margin-right: .5rem;
    min-width: 21px;
}

[dir="ltr"] .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e3e7ed;
}


/*--------------------------------------------------------------
# Avatar
--------------------------------------------------------------*/
[dir="ltr"] .rounded-color {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.badge-profile {
    background: #26094f;
    color: #fff;
    height: 1.5rem;
    padding: .5em 1rem !important;
    position: relative;
}

.badge-profile:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 0px solid transparent;
    border-top: 7px solid #26094f;
    bottom: -5px;
    right: 0;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
[dir=ltr] .pagination-sm .page-link {
    color: #666;
    padding: .6rem 1rem;
}

[dir=ltr] .page-item.active .page-link {
    color: #04ace7;
    border-color: #04ace7;
    background-color: transparent;
    border-left: 1px solid;
    border-right: 1px solid;
}

[dir=ltr] .page-link {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d6dde5;
    border-right: 1px solid transparent;
}

[dir=ltr] .pagination-sm .page-item:first-child .page-link,
[dir=ltr] .pagination-sm .page-item:last-child .page-link {
    border: 0;
    padding: .65rem 1rem;
}

[dir=ltr] .pagination-sm .page-item:first-child .page-link {
    border-right: 1px solid #d6dde5;
}

[dir=ltr] .pagination-sm .page-item:last-child .page-link {
    border-left: 1px solid #d6dde5;
}

[dir=ltr] .page-link:focus {
    box-shadow: none;
}

/*--------------------------------------------------------------
# Filter
--------------------------------------------------------------*/
.filter .dropdown-toggle::after,
.filter .dropdown-menu::before,
.filter .dropdown-menu::after {
    display: none;
}

.filter.dropdown.open .btn-default {
    color: #fff;
    background: #04ace7;
    border-color: #04ace7;
}

.filter.dropdown.open .la-sliders:before {
    color: #fff;
}

.filter.dropdown .dropdown-menu,
.filter.dropdown.open .dropdown-menu {
    margin-top: 1rem !important;
    padding: 0 0 1.7rem 0;
    margin: 0;
}

.filter.dropdown.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.filter-head {
    background: #f1f6fb;
    font-size: 1.125rem;
    padding: .7rem .75rem !important;
}

.filter-body {
    font-size: 0.875rem;
    padding: .7rem .75rem !important;
}

.filter-body .sorting-dropdown .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    margin: .7rem 0;
}

.filter-body .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    display: inline-block;
    margin-top: .7rem;
}