
<div class="border-left border-right border-bottom p-3 rounded-bottom">
    <a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId" class="btn btn-default" data-toggle="tooltip" data-placement="top"
       title="Back">@Language.General.ButtonBack</a>
</div>