
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
</ol>

<h1 class="h2">Dashboard</h1>

<div class="card card-body">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="card-title">Title</h4>
            <p>This is user dashboard page </p>
        </div>

    </div>
</div>

