@model DashboardList

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Dashboard</h1>
                    @*<div class="header-text"></div>*@
                </div>
            </div>
        </div>
    </div>

}

<div class="row">

    <!-- End content leftbar -->
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <!-- Start Tab Content -->
        <div class="border-form rounded-top">
            <form>
                <div class="form-container form-container-w100">
                    <div class="form-container form-container-w100 tab-content">
                        @*<div class="mt-2 mb-4 pb-1">
                                <h4 class="color-darkblue mb-0">Category</h4>
                            </div>*@
                        <div class="row">
                            @Html.Partial("_DashboardList", Model)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
