@*<div class="tab-pane" id="amendment-history">
        <div class="mb-4 mt-2 mr-auto">
            <h4 class="color-darkblue mb-0">Amendment History</h4>
            <h6 class="font-weight-normal">Check amendment list here.</h6>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <ul class="list-group list-group-fit">
                    @if (ViewBag.History.Count != 0)
                    {
                        var icount = 0;
                        foreach (var item in ViewBag.History)
                        {
                            if (item.Status == ApprovalStatus.Rejected)
                            {
                                icount++;
                                <li class="list-group-item pt-4">
                                    <div class="media align-items-top">
                                        <div class="media-left">
                                            <div class="card__avatar">
                                                <img src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="card__avatar__image">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="card__name-wrap ml-0">
                                                <div class="card__instructby">@item.ApprovalDate.ToString("dd/MM/yyyy, hh:mm tt") <i class="la la-exclamation-circle text-danger"></i></div>
                                                <div class="card__author-name">@item.UserName</div>
                                                <div class="card__text pb-3">@item.Remarks</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }

                    }
                </ul>
            </div>
        </div>
    </div>*@