@using FEP.Model.eLearning
@model FEP.WebApiModel.eLearning.CreateOrEditContentModel

@Html.Partial("_contentCompletion", Model)
<hr />

<div>
    <div class="form-group">
        <label>@Language.eLearning.Content.Document</label>
        <div class="">

            @Html.EditorFor(model => model.Url, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })

        </div>
    </div>
</div>