@using FEP.Model.eLearning


@model FEP.WebApiModel.eLearning.CreateOrEditContentModel

<div class="form-group">
    <label>
        If you cannot see this content, please install Adobe Flash player.
    </label>

    <div>
        <object width="100%" height="500">
            <embed src="~/eLearning/File/GetImg?fileName=@Model.FileDocument.FileNameOnStorage" 
                   type="application/x-shockwave-flash" width="100%" height="500">
            </embed>
        </object>
    </div>
</div>


