@model IEnumerable<Attachment>
@{
	Layout = null;
}
<script type="text/javascript">

    function RefreshFile4() {

        var file_input4;
        var file_no;

        $('#btnAddFile4').click(function () {
            file_input4 = $('<input type="file" name="ProofOfWithdrawalFiles" style="display:none" />');
            file_input4.trigger('click');
            file_input4.change(function () {

                var row = $('<tr><td>' + $(this).val().replace(/.*(\/|\\)/, '') + '</tr>');

                var cell = $('<td></td>');

                var button = $('<a href="javascript:void(0);" data-toggle="tooltip" title="Remove File"><i class="fa fa-trash"></i></a>');

                button.click(function () {
                    $(this).tooltip('hide');
                    row.remove();
                });

                cell.append(button);
                cell.append(file_input4);

                row.append(cell);

                $("table.table-file4 tbody").append(row);

                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
            });

        });

    }

</script>

<div>
    <button type="button" class="btn btn-sm btn-primary mb-1" id="btnAddFile4">Add File</button>

    @*<a id="btnAddFile" data-toggle="tooltip" data-placement="top" title="Add File"><i class="la la-file text-muted"></i></a>*@

    <div id="files4" style="display:none"></div>
    <table class="table table-file4 table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                        @Html.Hidden("ProofOfWithdrawal[" + i + "].Id", item.Id)
                    </td>
                    <td>
                        <a href="javascript:void(0);" onclick="$(this).parent().parent('tr').remove();" data-toggle="tooltip" title="Remove File"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                ++i;
            }
        </tbody>
    </table>

</div>


