
@if (CurrentUser.HasAccess(FEP.Model.UserAccess.CourseCreate))
{
    <a class="dropdown-item" href="@Url.Action("Index", "Courses", new { area = "eLearning" })"><i class="la la-search color-secondary font-icon"></i>Manage Courses</a>
    <a class="dropdown-item" href="@Url.Action("List", "CourseCategory", new { area = "eLearning" })"><i class="la la-suitcase color-secondary font-icon"></i>Manage Course Category</a>
    <a class="dropdown-item" href="@Url.Action("Index", "Certificates", new { area = "eLearning" })"><i class="la la-suitcase color-secondary font-icon"></i>Manage Certificate Template</a>

}


<a class="dropdown-item" href="#"><i class="la la-user color-secondary font-icon"></i>Instructors</a>
<a class="dropdown-item" href="#"><i class="la la-group color-secondary font-icon"></i>Groups</a>
<a class="dropdown-item" href="#"><i class="la la-comments-o color-secondary font-icon"></i>Discussions</a>
<a class="dropdown-item" href="#"><i class="la la-calendar color-secondary font-icon"></i>Calendar</a>
