
@{
    ViewBag.Title = "eLearning";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

@section Nav{

    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", routeValues:null)">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">e-Learning</a></li>
            </ol>
        </nav>
    </div>

}

<main id="landing-inner" class="rellax" data-rellax-speed="0">
    <!-- =====================
        Landing Content
    ========================-->
    <section id="main-content">
        <!-- =====================
            Search Dropdown
        ========================-->
        <div id="search-dropdown">
            <div class="container">
                <div id="search-dropdown">
                    <div class="container">
                        <div class="search-dropdown-wrapper">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="select2" name="module">
                                        <option value="e-Learning">e-Learning</option>
                                        <option value="e-Events">e-Events</option>
                                        <option value="Research">Research</option>
                                        <option value="Publications">Publications</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" placeholder="Search for online courses, instructor name, etc.." name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_6"></div>
    </section>
    <!-- =====================
        Our Course
    ========================-->
    <section id="ourcourse">
        <div class="container">
            <a href="#" class="btn btn-outline-secondary btn-rounded float-right">VIEW ALL</a>
            <h1 class="color-darkblue">Featured Courses</h1>
            <div class="empty_3"></div>
            <div class="row">
                <div class="card-slider owl-carousel">
                    <div class="wow fadeInUp">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@BaseURL/img/cover-1.jpg" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <ion-icon name="share"></ion-icon>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><span>RM128.90</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Uruskan Aliran Tunai Anda: Simpan, Simpan, Simpan</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/8.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Intan Noor Syakira</span></span></a>
                                </div>
                                <div class="card__text">Menabung satu jumlah setiap hari, contohnya RM 1 setiap hari.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".5s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@BaseURL/img/cover-2.jpg" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <ion-icon name="share"></ion-icon>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><span>RM40.90</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">The Complete Foundation Stock Trading</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/47.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Mu'adz Zulkifli</span></span></a>
                                </div>
                                <div class="card__text">Learn to trade the stock market by a trading firm CEO.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">3</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">1266</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".7s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@BaseURL/img/cover-3.jpg" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <ion-icon name="share"></ion-icon>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">The Complete Financial Analyst Training & Investing</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/68.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                </div>
                                <div class="card__text">Succeed as a Financial Analyst & Investor by Award Winning MBA.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".9s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="courses__top__wapper">
                                    <img class="card__top__image" src="@BaseURL/img/cover-4.jpg" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <ion-icon name="share"></ion-icon>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Uruskan Aliran Tunai Anda: Simpan, Simpan, Simpan</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/2.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Intan Noor Syakira</span></span></a>
                                </div>
                                <div class="card__text">Menabung satu jumlah setiap hari, contohnya RM 1 setiap hari.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- =====================
       Searching Result
    ========================-->
    <section id="search-result" class="elearning">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="search-col-left">
                        <div class="input-keyword mb-5">
                            <input type="text" class="form-control form-control-rounded" placeholder="Type keyword here..." name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
                            </div>
                        </div>
                        <!-- Listing Filter -->
                        <div class="listing_filter dropdown dd-side">
                            <div class="dropdown-menu">
                                <div class="listing-filter-inner">
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Categories</h4>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio1">All Categories</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Cash Flow</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3">Car</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio4">Investment</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio5">Protection</label>
                                        </div>
                                    </div>
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Skill Level</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Beginner</label>
                                            <span class="filter-counter">(100)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Intermediate</label>
                                            <span class="filter-counter">(430)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Advanced</label>
                                            <span class="filter-counter">(29)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4">Appropiate for All</label>
                                            <span class="filter-counter">(560)</span>
                                        </div>
                                    </div>
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Duration</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">0-2 Hours</label>
                                            <span class="filter-counter">(13)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6">3-6 Hours</label>
                                            <span class="filter-counter">(30)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                            <label class="custom-control-label" for="customCheck7">7-16 Hours</label>
                                            <span class="filter-counter">(63)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                            <label class="custom-control-label" for="customCheck8">Longer than 16 Hours</label>
                                            <span class="filter-counter">(1099)</span>
                                        </div>
                                    </div>
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Language</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck9">
                                            <label class="custom-control-label" for="customCheck9">English</label>
                                            <span class="filter-counter">(3666)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                            <label class="custom-control-label" for="customCheck10">Bahasa</label>
                                            <span class="filter-counter">(100)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                                            <label class="custom-control-label" for="customCheck11">Chinese</label>
                                            <span class="filter-counter">(63)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                                            <label class="custom-control-label" for="customCheck12">Tamil</label>
                                            <span class="filter-counter">(54)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                                            <label class="custom-control-label" for="customCheck13">Multi-language</label>
                                            <span class="filter-counter">(20)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-rounded">Clear Filter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search-col-right">
                        <div class="top-filter-wrap">
                            <div class="showing-result">Showing 1 - 6 of 2000 results</div>
                            <div class="sorting-wrap">
                                <div class="sorting-dropdown">
                                    <select class="select2 form-control" name="sorting">
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Other Sorting">Other Sorting</option>
                                    </select>
                                </div>
                                <!-- <div class="layout-wrap ml-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a href="#" class="btn btn-linear mw-auto px-3"><i class="fas fa-th-list"></i></a>
                                        </div>
                                        <div class="input-group-append">
                                            <a href="#" class="btn btn-default mw-auto px-3 color-lightgrey"><i class="fas fa-th-list"></i></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="empty_3"></div>
                        <!-- Filter result -->
                        <div class="some-list">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-1.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><span>RM128.90</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">Uruskan Aliran Tunai Anda: Simpan, Simpan, Simpan</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/8.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Intan Noor Syakira</span></span></a>
                                            </div>
                                            <div class="card__text">Menabung satu jumlah setiap hari, contohnya RM 1 setiap hari.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-2.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><span>RM40.90</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Foundation Stock Trading</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/47.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Mu'adz Zulkifli</span></span></a>
                                            </div>
                                            <div class="card__text">Learn to trade the stock market by a trading firm CEO.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">3</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">1266</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-3.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Financial Analyst Training & Investing</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/68.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                            </div>
                                            <div class="card__text">Succeed as a Financial Analyst & Investor by Award Winning MBA.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="courses__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-4.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">Uruskan Aliran Tunai Anda: Simpan, Simpan, Simpan</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/2.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Intan Noor Syakira</span></span></a>
                                            </div>
                                            <div class="card__text">Menabung satu jumlah setiap hari, contohnya RM 1 setiap hari.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-2.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><span>RM40.90</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Foundation Stock Trading</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/47.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Mu'adz Zulkifli</span></span></a>
                                            </div>
                                            <div class="card__text">Learn to trade the stock market by a trading firm CEO.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">3</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">1266</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-3.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Financial Analyst Training & Investing</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/68.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                            </div>
                                            <div class="card__text">Succeed as a Financial Analyst & Investor by Award Winning MBA.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-3.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Financial Analyst Training & Investing</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/68.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                            </div>
                                            <div class="card__text">Succeed as a Financial Analyst & Investor by Award Winning MBA.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card__wrapper">
                                        <div class="card__top">
                                            <div class="card__top__wapper">
                                                <img class="card__top__image" src="@BaseURL/img/cover-3.jpg" alt="image">
                                                <div class="share-wrap">
                                                    <div class="share-button sharer">
                                                        <span class="share-icon">
                                                            <ion-icon name="share"></ion-icon>
                                                        </span>
                                                        <div class="social top center"></div>
                                                    </div>
                                                    <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                                </div>
                                                <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <a class="card__title" href="#">The Complete Financial Analyst Training & Investing</a>
                                            <div class="card__author">
                                                <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/68.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                            </div>
                                            <div class="card__text">Succeed as a Financial Analyst & Investor by Award Winning MBA.</div>
                                            <div class="card__info">
                                                <div class="card__col-left">
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                                    <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                                </div>
                                                <div class="card__col-right">
                                                    <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>

    @Html.Partial("_NewsArticle")

</main>

