@*@model*@ 
<!-- =====================
   Our News & Articles
========================-->
<section id="ournews" class="bg-main">
    <div class="row ournews-container no-gutters">
        <div class="col-lg-6">
            <div class="empty_3"></div>
            <div class="news-desc">
                <h6 class="color-secondary">LATEST NEWS</h6>
                <h1 class="color-darkblue">Learning Resources</h1>
                <p>Your trusted source of learning materials such as articles, infographics and videos including news headlines, interviews and statistical analysis</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="empty_3"></div>
            <div class="news-carousel">
                <div class="owl-news">
                    <div class="news-wrapper">
                        <div class="news-container">
                            <img src="@Url.Content("~/img/akpk-news-01.jpg")" alt="image">
                            <div class="news-details">
                                <div class="news-title">Video raya AKPK ingatkan kita supaya bayar hutang</div>
                                <div class="news-info">
                                    <span class="news-category">News</span>
                                    <span class="news-separator"><i class="fas fa-circle"></i></span>
                                    <span class="news-date">7 Sept 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-wrapper">
                        <div class="news-container">
                            <img src="@Url.Content("~/img/akpk-news-02.jpg")" alt="image">
                            <div class="news-details">
                                <div class="news-title">10 Ciri Yang Ada Pada Semua Rumah Idaman</div>
                                <div class="news-info">
                                    <span class="news-category">Articles</span>
                                    <span class="news-separator"><i class="fas fa-circle"></i></span>
                                    <span class="news-date">7 Sept 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty_3">&nbsp;</div>
</section>